<ion-view title="Perfil" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="perfil-list5">
      <ion-item class="item-avatar" id="perfil-list-item20">
        <img src="img/my68hPnIT5i4x7c2VdI5_12.jpg">
        <h2>Carlos Amaral Gomes</h2>
      </ion-item>
      <div class="item item-body" id="perfil-list-item-container2">
        <div id="perfil-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">E-mail: carlos.gomes@hotmail.com</p>

          <p style="color:#000000;">Telefone: (61) 93844-9038</p>

          <p style="color:#000000;">Endereço: Quadra CLS 103 N 487</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>